<div class="container">

<% @bookings.map {|b| b.studio}.uniq.map {|studio| ({studio.name => studio.bookings })}.each do |n| %>
  <div class="card-studio-name">
    <h2><%= n.keys.join %></h2>
  </div>
<% end %>

</div>
