<div class="owner-booking-card p-3 m-3 shadow">
  <div>
    <p>2.20.2022 12:00 - 15:00</p>
    <p>Rentee's name</p>
    <p>Total: ¥10000</p>
  </div>
  <div class="owner-booking-action d-flex flex-column justify-content-between">
    <p class="mb-0 mt-4 text-center">Pending</p>
    <div class="d-flex justify-content-evenly">
      <div class="owner-action-btn btn-accept py-2 px-3">
        <p class="mb-0">Accept</p>
      </div>
      <div class="owner-action-btn btn-decline py-2 px-3">
        <p class="mb-0">Decline</p>
      </div>
    </div>
  </div>
</div>
