<div class="owner-booking-card p-3 m-3 shadow">
  <div>
    <p>2.20.2022 12:00 - 15:00</p>
    <p>Rentee's name</p>
    <p>Total: ¥10000</p>
  </div>
  <div class="owner-booking-action d-flex flex-column justify-content-between">
    <p>pending</p>
    <div class="d-flex">
      <div class="accept-btn mb-0">
        <p>Accpet</p>
      </div>
      <div class="decline-btn mb-0">
        <p>Decline</p>
      </div>
    </div>
  </div>
</div>
