<%= render partial: "shared/navbar" %>

<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>





    <% @bookings.each do |booking| %>
    <% start_new_string = "#{booking.start_date}" %>
    <% end_new_string = "#{booking.end_date}" %>

    <% date = Date.strptime(start_new_string, '%Y-%m-%d') %>
    <% new_start_date = date.strftime('%m-%d-%Y') %>
    <% date_two = Date.strptime(end_new_string, '%Y-%m-%d') %>
    <% new_end_date = date_two.strftime('%m-%d-%Y') %>


    <li><%= link_to "Your booking at the #{booking.studio.name} is from #{new_start_date} to #{new_end_date} " , studio_path(booking.studio) %></li>
    <% end %>
