<%= render partial: "shared/navbar" %>

<div class="container">
  <h1>Bookings#new</h1>
  <p>Find me in app/views/bookings/new.html.erb</p>
  <%= render partial: "form", locals: {booking: @booking, studio: @studio} %>
</div>
