<%= render partial: "shared/navbar" %>

<div class="jumbo-2">

  <div class="container float-right">
      <% if user_signed_in? %>
    <% else %>
      <p>you are not signed in</p>
    <% end %>
  </div>
  <h1 class="text-center">NeighborStudio</h1>
    <p class="text-center">Why use a home studio,
    when your Neighbor has one?</p>
  <div class="text-center mt-5">
    <%= link_to "Find studios now!", studios_path, class: "sign-up btn-square draw-border rounded mb-6" %>
  </div>

</div>

<div class="container">
  <p></p>
  <p></p>
</div>
