<div class="jumbotron jumbo-2">
  <button class='btn btn-success pull-right'>
        Button Text
  </button>
  <div class="container">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <p>Current user: </p>
    <% if user_signed_in? %>
      <p><strong>name: </strong><%= current_user.name %></p>
      <p><strong>email: </strong><%= current_user.email %></p>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

    <% else %>
      <p>you are not signed in</p>
    <% end %>
  </div>
  <h1 class="text-center">NeighborStudio</h1>
    <p class="text-center">Why use a home studio,
when your Neighbor has one?</p>
</div>
