.card-studio-name{
  margin: 8px auto;
  width: 400px;
  min-height: 280px;
  display: flex;
  border-radius: 16px;
  width: -webkit-fill-available;
  background-size: cover;
  background-position: center;
  background-color: white;
}
