.studio-card {
  min-width: 360px;
  flex-grow: 1;
  width: 400px;
  max-width: 440px;
  min-height: 200px;
  object-fit: cover;
  background-position: center;
  display: flex;
  border-radius: 16px;
  // justify-content: center;
  // padding: 16px;
  .studio-info {
    background-color: rgba(70, 70, 70, 0.5);
    border-radius: 16px;
  }
}
