.studio-card {
  a {
    text-decoration: none;
  }
  min-width: 360px;
  max-width: 420px;
  min-height: 280px;
  display: flex;
  border-radius: 16px;
  .studio-info {
    background-color: rgba(70, 70, 70, 0.5);
    border-radius: 16px;
    width: 100%;
    align-content: center;
    align-items: center;
    .studio-info-left {
      max-width: 60%;
    }
  }
  &:hover {
    .studio-info-btn {
      background-color: rgba(255, 255, 255, 0.5);
      color: black;
    }
  }
}
