.studio-card {
  a {
    text-decoration: none;
  }
  // min-width: 360px;
  // max-width: 420px;
  width: 400px;
  min-height: 280px;
  display: flex;
  border-radius: 16px;
  .studio-info {
    background-color: rgba(70, 70, 70, 0.5);
    border-radius: 16px;
    width: 100%;
    align-content: center;
    align-items: center;
    .studio-info-left {
      max-width: 60%;
    }
  }
  &:hover {
    .studio-info-btn {
      background-color: rgba(255, 255, 255, 0.5);
      color: black;
    }
  }
}

.studio-card-small {
  border-radius: 16px;
  min-width: 180px;
  max-width: 210px;
  min-height: 140px;
  position: relative;



  a {
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    color: white;
    text-shadow: 0 0 4px black;
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
