.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu > b {
  user-select: none !important;
}

.navbar {
  position: sticky;
  top: 0;
  height: 63px;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  font-family: $logo-font;
}

.ns-navbar {
  z-index: 100;
}
