<%= render partial: "shared/navbar" %>
<div class="container-fluid mt-3">
  <h1 class="text-center">Studios in your area</h1>
  <div class="studios-list mx-auto px-5 py-3">
    <% @studios.each do |studio| %>
      <%= render partial: "card", locals: {studio: studio} %>
    <% end %>
  </div>
</div>
