<div class="container-fluid mt-3">
  <h1>Studios in your area</h1>
  <div class="studios-list mx-auto p-5">
    <% @studios.each do |studio| %>
      <%= render partial: "card", locals: {studio: studio} %>
    <% end %>
  </div>
</div>
