<%= render partial: "shared/navbar" %>
    <h1 class="text-center">Studios in your area</h1>
<div class="main-container">
  <div class="container-fluid mt-4">
    <div class="studios-list col-xs-6">
      <% @studios.each do |studio| %>
        <%= render partial: "card", locals: {studio: studio}%>
      <% end %>
    </div>
  </div>
  <div class="container-fluid mt-4 mr-5 pr-5 sticky-top" id="sidebar"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    style='width: 100%; height: 600px;'>
  </div>
</div>
